@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

// $primary-color: #64ff00;

// :export {
//   primaryColor: $primary-color;
// }

.home-action {
  background-color: rgba(224, 224, 224, 0.5);
  width: 45vw;
  height: 15vh;
  margin-block: 10px;
  border-radius: 12px;
  padding: 15px 15px;
  display: block;
}
$breakpoint-laptop: 1024px;
@media (min-width: $breakpoint-laptop) {
  .home-action {
    width: 22%;
    margin: auto;
    margin-bottom: 8vh;
    transition-duration: 0.2s;
  }
  .home-action:hover {
    transform: translate(0px, -20px);
    display: block;
  }
}
// .hero-fade {
//   animation-name: fade;
//   animation-duration: 4s;
//   animation-iteration-count: infinite;
// }
// @keyframes fade {
//   0% {
//     opacity: 0;
//   }
//   20% {
//     opacity: 1;
//   }
//   80% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//   }
// }
.h-full {
  height: 100vh;
}
